@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body,html,#worldmap{
  height:100%;
}

body{
  color:#333;
  font-family:sans-serif;
  /* for the menu*/
  overflow: hidden;
  position: relative;

}

#worldmap{
  background:rgb(181,208,208);
}

.country-name{         /* setting the style of the name of the country to be shown */
  position: absolute;
  top:8em;
  right:1em;
  z-index:6;
  background:rgba(0,0,0,.75);
  color:white;
  padding:.5em .75em;
  font-size:.85em;
  display:none;
}

fieldset, label { margin: 0; padding: 0; }


/* FOR THE MENu */
/* Initial menu */
.menu {
  background: #000000;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.jumbotron {
  height: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
  padding-left: 13px;
  margin-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* profile / social / contact tab */   
table{
    font-family: verdana, arial;
    width: 200px;
    height: 50px;
    background: lightblue;
    margin-left: 50px;
}

form{

    margin: auto;
} 
#centerDiv{
    text-align: center;
}
